<body class="main-body" *ngIf="metaData.pincode || metaData.locality">
    <header>
        <div class="nav-bar">
            <div class="nav-bar-item-1">
                <span style="font-size:30px; display: block;">
                    <i class="fa fa-file" style="font-size: 20px;"></i> Report
                </span>
                <span style="font-size: 10px; display: block;" *ngIf="searchChoice=='locality' && metaData.locality_id">
                    Locality Id : {{metaData.locality_id}}
                </span>
                <span style="font-size: 10px; " *ngIf="searchChoice=='pin' && metaData.pincode">
                    Individual pin code report for : {{metaData.pincode}}
                </span>
            </div>

            <div class="nav-bar-item-2">
                <div style="float: right;">
                    <span class="fa fa-close" style="font-size: 55px; cursor: pointer;"
                        (click)="metaData.pincode=''; metaData.locality='';"></span>
                </div>


            </div>
        </div>
    </header>

    <div class="display-1" style=" background-color: #d8effa ;">
        <div class="row" style="font-size:15px; padding-top:10px;">
            <div class="col text-center">
                <span class="meta-data r-font-color">
                    {{metaData.population}}
                </span>
                Population
            </div>
            <div class="col text-center">
                <span class="meta-data r-font-color">
                    {{metaData.households}}
                </span>
                Households

            </div>
        </div>
        <div class="row sub-meta-data" *ngIf="searchChoice=='pin'">
            <div class="col text-center">
                <span class="r-font-color">
                    District : {{metaData.district}}
                </span>
            </div>
            <div class="col text-center">
                <span class="r-font-color">
                    Country : <b>{{metaData.country}}</b>
                </span>
            </div>
        </div>
        <div class="row sub-meta-data" *ngIf="searchChoice=='locality'">
            <div class="col text-center">
                <span class="r-font-color">
                    Locality : {{metaData.locality}}
                </span>
            </div>
            <div class="col text-center">
                <span class="r-font-color">
                    City : <b>{{metaData.city}}</b>
                </span>
            </div>
        </div>
    </div>
    <div class="display-2">
        <app-map [mapData]="mapData"></app-map>
    </div>

    <div class="display-3">
        <span class="r-font-color" style="font-size: 40%; margin-top: 15%;">
            Demographics
        </span>
        <app-chart *ngIf="incomeChartData.type == doughNutChart" [chartData]="incomeChartData"></app-chart>
        <div *ngIf="!incomeChartData.income" class="no-data">
            <span style="font-weight: bold;">No Data Available</span>
            <span style="display: block; font-size: 15.5px;">Monthly income distribution</span>
        </div>

    </div>

    <div class="display-4">
        <div *ngIf="!expenditureChartData.pincode" class="no-data" style="margin-top: 17%;">
            <span style="font-weight: bold;">No Data Available</span>
            <span style="display: block; font-size: 15.5px;">Expenditure <span *ngIf="metaData.pincode">for {{metaData.pincode}}</span> </span>
        </div>
        <app-chart *ngIf="expenditureChartData.type == barChart" [chartData]="expenditureChartData"></app-chart>
    </div>
</body>

<ng-container *ngIf="!metaData.pincode && !metaData.locality">

    <div class="landing-page">
        <p style="color: white; font-weight: bolder; font-size: 60px;">
            Report app
        </p>
        <div style="padding-top: 15px;">
            <div class="form-check form-check-inline mb-3">
                <input type="radio" name="pin" class="form-check-input" [(ngModel)]="searchChoice" value="pin">
                <label class="form-check-label" for="pin">
                    Pin </label>
            </div>
            <div class="form-check form-check-inline mb-3">
                <input type="radio" name="locality" class="form-check-input" [(ngModel)]="searchChoice"
                    value="locality">
                <label class="form-check-label" for="pin">
                    Locality </label>
            </div>
            <div *ngIf="searchChoice=='pin'">
                <input type="text" class="landing-input" placeholder="Enter PIN to generate report..."
                    [(ngModel)]="pin">
            </div>
            <div *ngIf="searchChoice=='locality'">
                <input type="text" class="landing-input" placeholder="Enter Locality ID to generate report..."
                    [(ngModel)]="locality">
            </div>
            <button (click)="search()" class="btn btn-outline-light p-2 mt-2 mb-2 w-50">Search</button>
        </div>
    </div>
</ng-container>