.r-font-color {
	color: #3e95cd;
}
.meta-data {
	display: block;
	font-size: 25px;
	font-weight: bold;
}
.sub-meta-data {
	background-color: white;
	height: 30px;
	font-size: 15px;
	margin-top: 10px;
	align-items: center;
}
.nav-bar {
	background-color: #3e95cd;
	color: white;
}
.nav-bar > .row {
	padding-left: 5px;
	align-items: center;
}
.form-check-label {
	color: white;
}
.landing-input {
	padding: 5px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 50%;
	text-align: center;
}
.landing-page {
	text-align-last: center;
	position: sticky;
	top: 30%;
	left: 39%;
	margin: auto;
	transform: translateY(-50%);
	background-image: linear-gradient(#3e95cd, #214861);
}
input[type='radio'] {
	zoom: 2;
}
.no-data {
	text-align: center;
	font-size: 25px;
	color: #3e95cd;
	margin-top: 10%;
}
.main-body {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 10% 36% 36%;
	gap: 0px 0px;
	grid-template-areas: "nav nav""display-1 display-2""display-3 display-4";
}
aside,
footer {
	padding: 16px;
}
header {
	background: #3e95cd;
	grid-area: nav;
	top: 0;
	width: 100%;
	padding: 0px 15px 15px 15px
}
.display-1 {
	grid-area: display-1;
}
.display-2 {
	grid-area: display-2;
}
.display-3 {
	grid-area: display-3;
}
.display-4 {
	grid-area: display-4;
}
.nav-bar {
	margin: 0;
	padding: 2px;
	align-items: center;
	width: 100%;
	height: 15%;
	position: relative;
	z-index: 999;
}
.nav-bar-item-1 {
	float: left;
}
.nav-bar-item-2 {
	float: right;
}
@media only screen and (max-width: 900px) {
	.main-body {
		grid-template-rows: 15% 35% 35%;
		grid-template-areas: "nav nav""display-1 display-1""display-2 display-2""display-3 display-3""display-4 display-4";
	}
@media only screen and (max-width: 500px) {
		.main-body {
			grid-template-rows: 25% 25% auto;
			grid-template-areas: "nav nav""display-1 display-1""display-2 display-2""display-3 display-3""display-4 display-4";
		}
	}
@media only screen and (max-width: 300px) {
		.main-body {
			grid-template-rows: 25% 25% auto;
			grid-template-areas: "nav nav""display-1 display-1""display-2 display-2""display-3 display-3""display-4 display-4";
		}
	}
}