/* Add application styles & imports to this file! */
@import "~bootstrap/dist/css/bootstrap.css";

.mapboxgl-popup-content > .table {
    font-size: 10px;
}
.mapboxgl-popup-content > .btn {
  font-size: 10px;
  border-radius: 16px;
  background: #1a1a1a;
  color: white;
}

.mapboxgl-popup {
  max-width: 500px !important;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon{
    background-image: url('./assets/mapbox-svg/svg/mapboxgl-ctrl-zoom-out.svg')
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon{
    background-image: url('./assets/mapbox-svg/svg/mapboxgl-ctrl-compass.svg')
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon{
    background-image: url('./assets/mapbox-svg/svg/mapboxgl-ctrl-zoom-in.svg')
  }